/* Default styles for mobile */
* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: yellow;
  height: 100vh;
}

p {
  color: white;
  font-size: 3rem;
}

/* Larger phones */
@media (min-width: 375px) {
  .header {
    background-color: blue;
  }
  p {
    color: yellow;
    font-size: 5rem;
  }
}
/* Tablets */
@media (min-width: 768px) {
  .header {
    background-color: green;
  }
  p {
    color: orange;
    font-size: 8rem;
  }
}
/* Small Desktops */
@media (min-width: 1280px) {
  .header {
    background-color: purple;
  }
  p {
    color: rgb(35, 100, 138);
    font-size: 10rem;
  }
}
/* Large Desktops */
@media (min-width: 1440px) {
  .header {
    background-color: red;
  }
  p {
    color: #04fd7c;
    font-size: 12rem;
  }
}
