/* Universal selector */
* {
  margin: 0;
  padding: 0;
}

/* Type selector */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  list-style: 1.6;
}

/* ID selector */
#main-header {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Class selector */
.container {
  max-width: 800px;
  background-color: white;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Attribute selector */
[data-category="Technology"] {
  font-style: italic;
  color: blue;
  font-weight: 600;
}

/* Descendant selector */
.post-content p {
  color: #34495e;
  margin-bottom: 20px;
  font-size: 20px;
}

.post-meta > span {
  margin-right: 15px;
  font-size: 20px;
}

/* Grouping selector */
h1,
h2,
h3 {
  margin-bottom: 20px;
}

/* Pseudo class selectors */
a:hover {
  color: red;
}

.post-content::first-letter {
  font-size: 50px;
  font-weight: bolder;
  padding-right: 10px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
